# Global snippets

snippet fun
	fun ${1}(${2}: ${3}): ${4} {
		${5}
	}
snippet val
	val ${1} = ${2}
snippet var
	var ${1} = ${2}
snippet as
	assert ${1:test} : "${2:Failure message}";${3}
snippet try
	try {
		${3}
	} catch(${1:Exception} ${2:e}) {
	}
snippet tryf
	try {
		${3}
	} catch(${1:Exception} ${2:e}) {
	} finally {
	}




snippet main
	fun main(args : Array<String>) {
		${1}
	}
snippet if
	if (${1}) {
		${2}
	}
snippet el
	else {
		${1}
	}
snippet do
	do {
		${2}
	} while (${1});
# While Loop
snippet while
	while (${1}) {
		${2}
	}
# While Loop
snippet wh
	while (${1}) {
		${2}
	}
snippet fori
	for (i in ${1}) {
		${2}
	}
# Function
snippet fx
	${1:fun} ${2:function_name}(${3})
	{
		${4}
	}
# Quick pairs
snippet [
	[${1}]${2}
snippet (
	(${1})${2}
# pattern matching
snippet when
	when (${1}) {
		${2} ->
		else ->
	}
# comment
snippet cmt
	//--------------------------------------------------
snippet cb
	//--------------------------------------------------
	// ${1}
	//--------------------------------------------------
snippet cmb
	//--------------------------------------------------
	// ${1}
	//--------------------------------------------------
snippet cmtb
	//--------------------------------------------------
	// ${1}
	//--------------------------------------------------
snippet sab
	//--------------------------------------------------
	// Sunny added - [start]
	//--------------------------------------------------
	//--------------------------------------------------
	// Sunny added - [end]
	//--------------------------------------------------
snippet smb
	//--------------------------------------------------
	// Sunny modified - [start]
	//--------------------------------------------------
	//--------------------------------------------------
	// Sunny modified - [end]
	//--------------------------------------------------
snippet scb
	//--------------------------------------------------
	// Sunny commented: ${1}
	//--------------------------------------------------
snippet	class
	class ${1} {
	}
